<div class="collapse" id="navbarToggleExternalContent">
  <ul class="bg-dark p-4">
    <li><a routerLink="/races"  routerLinkActive="active" class="text-white h4">Races </a></li>
    <li><a routerLink="/form"  routerLinkActive="active" class="text-white h4">Add City </a></li>
  </ul>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-white h1">Pony Racer</a>
    <app-logout *ngIf="auth.isAuthenticated()"></app-logout>
    <button class="navbar-toggler btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>